.medications{
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
    margin-top: 80px;
    display: flex;
    /* align-items: center; */
}
.medicationsHead{
    width: 90%;
    /* background-color: teal; */
}
.medicationsBodyBox{
    width: 80%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    /* position: relative; */
}
.medicationsBody{
    width: 90%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}