@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
.home{
    /* width: 100%; */
    /* height: 700vh; */
    /* border: 3px solid rgb(250, 0, 0); */
    /* background: linear-gradient(to right, #a0a0a0, #d7d3d0, #6b6b6b); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 20px; */
    backdrop-filter: blur(10px);
    /* padding-left: 50px; */
    /* font-family: Poppins, sans-serif; */
}
.homeBanner{
    margin-top: 80px;
    width: 100%;
    height: 500px;
    /* border-radius: 10px; */
    /* padding-left: 20px; */
    display: flex;
    align-items: center;
    gap: 20px;
    /* align-items: center; */
    justify-content: center;
    /* background-image: url('https://static.wixstatic.com/media/86ce73_630cc6497cd84ca5a95eae54a7daac78.jpg/v1/fill/w_1960,h_1002,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/86ce73_630cc6497cd84ca5a95eae54a7daac78.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(0, 0, 0, 0.352); */
    /* background-blend-mode: darken; */
    /* background-color: rgb(205, 198, 192); */
}
.homeBanner h1{
    font-family: MuseoModerno, serif;
    font-size: 30px;
    margin: 0;
}
.homeBannerTxt{
    width: 50%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 40px;
    gap: 20px;
    justify-content: center;
}
.homeBannerImg{
    width: 40%;
    height: 60%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeBannerImg img{
    width: 100%;
    height: 100%;
}
.healthCare{
    font-family: MuseoModerno, serif;
    color: #01A7A3;

}


.mySwiper{
    /* border: 4px solid black; */
    width: 80%;
    height: 100%;
}