.card{
    width: 250px;
    height: 300px;
    background-color: rgba(255, 250, 250, 0.721);
    display: flex;
    border-radius: 10px;
}
.thumb{
    /* position: absolute; */
    z-index: 1;
    margin-top: 150px;
    margin-left: -40px;
    height: 300px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* left: 28%; */
    /* padding: 30px; */
    transform: translateY(-50%);
    /* border: 3px solid wheat; */
}
.imgBox{
    position: relative;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    /* background-color: #ff0; */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.731);
    /* background: rgb(255, 255, 255, 0.2); */
    /* border: 1px solid rgb(255, 255, 255, 0.25); */
    /* border-top: 1px solid rgb(255, 255, 255, 0.5); */
    /* border-left: 1px solid rgb(255, 255, 255, 0.5); */
    border-radius: 20px;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
}
.imgBox img{
    width: 100%;
    height: 150px;
    /* border: 2px solid black; */
    transition: 0.25s;
}
.thumb div{
    list-style: none;
    width: 100%;
    height: 100px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.05);
    background: rgba(86, 86, 86, 0.2);
    border: 1px solid rgb(255, 255, 255, 0.25);
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    border-left: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(4px);
}
.thumb div img{
    width: 80%;
    transition: 0.5s;
}
.thumb div:hover img{
    transform: rotate(-35deg);
}

.imgBox img:hover{
    transform: scale(1.15) rotate(-15deg) translateX(20px);
}
.specs{
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* border: 1px solid black; */
    width: 100%;
}
.leftSpecs{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    /* border: 2px solid wheat; */
}
.btn{
    position: absolute;
    bottom: -40px;
    background: rgb(57, 69, 73);
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    color: white;
    transition: 0.25s;
    /* color: #1e6b7b; */
}
.btn:hover{
    letter-spacing: 2px;
}

.rating {
    display: flex;
    gap: 3px;
    font-size: 18px;
    height: 50%;
    /* background-color: brown; */
    /* margin-top: 5px; */
}
#status{
    font-size: 14px;
    /* color: rgb(30, 144, 30); */
}