@font-face {
    font-family: 'SquareGame';
    src: url('../../fonts/Square Game.woff2') format('woff2'), 
         url('../../fonts/Square Game.ttf') format('truetype');
}
@font-face {
    font-family: 'BatmanForeverOutline Regular';
    font-style: normal;
    font-weight: normal;
    src: local('BatmanForeverOutline Regular'), url('../../fonts/batmfo__.woff') format('woff');
}
@font-face {
    font-family: 'BatmanForeverAlternate Regular';
    font-style: normal;
    font-weight: normal;
    src: local('BatmanForeverAlternate Regular'), url('../../fonts/batmfa__.woff') format('woff');
}
.navBar{
    width: 100%;
    height: 80px;
    /* background-color: rgb(15, 82, 94); */
    backdrop-filter: blur(10px);
    display: flex;
    gap: 3%;
    /* top: 30px; */
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10000;
    /* box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1); */
    /* border-radius: 30px; */
    /* margin-left: 60px; */
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 60% 100%, 55% 80%, 45% 80%, 40% 100%, 0% 100%); */
}
.navLinks.open{
    display: flex;
    flex-direction: column;
}
/* .navLinks.closed .navLinks{
    display: none;
} */
.logo{
    width: 300px;
    height: 100%;
    /* font-family: 'BatmanForeverAlternate Regular', sans-serif; */
    /* font-family: MuseoModerno, serif; */
    /* font-family: 'SquareGame', sans-serif; */
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.logo img{
    width: 100%;
    height: 60%;
}
.logo h1{
    font-size: 20px;
    font-family: MuseoModerno, serif;
}
.logoIcon{
    width: 70px;
    height: 60px;
}
.navLinks{
    width: 300px;
    height: 90vh;
    display: none;
    justify-content: space-around;
    align-items: end;
    background-color: #00000098;
    z-index: 1000;
    position: fixed;
    padding-right: 30px;
    left: 0px;
    top: 80px;
    font-family: MuseoModerno, serif;
}
.navLink{
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
}
.navLink:hover{
    color: #01A7A3;
}
.user{
    width: 200px;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}
.cartIcon{
    width: 40px;
    height: 40px;
    /* border-radius:350%; */
}
.user i{
    font-size: 30px;
}


.signIn{
    /* font-family: MuseoModerno, serif; */
    background-color: #01A7A3;
    /* background-color: transparent; */
    border: 0;
    /* border: 2px solid coral; */
    border-radius: 10px;
    /* width: 100px; */
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.signIn:hover{
    /* letter-spacing: 2px; */
    transform: scale(0.9);
    background-color: #338f8f;
}


.cartWrapper {
    position: relative;
  }
  
  .cartBadge {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 4px;
    font-size: 12px;
  }


  /* .menu-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: black;
} */

.menu-toggle {
    display: block;
    /* background-color: #0b5c35; */
    width: 80px;
    border-radius: 0;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkbox {
    display: none;
  }
  
  .toggle {
    /* background-color: blueviolet; */
    position: fixed;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
    /* border: 2px solid black; */
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: #01A7A3;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }

  